<launch>
    <include file="$(find project_simulation)/launch/include/world.launch"/>

<!--    <include file="$(find project_simulation)/launch/include/alvar.launch"/>-->
<!--    <include file="$(find project_simulation)/launch/include/audio.launch"/>-->
<!--    <include file="$(find project_simulation)/launch/include/amcl.launch"/> -->
    <include file="$(find project_simulation)/launch/include/model.launch"/>
<!--    <node name="world_camera_frame" pkg="tf2_ros" type="static_transform_publisher" args="7 0 0 -1.5707 3.1416 1.5707 odom camera_link"/>-->
    <!--    <node name="LaserMaker" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" args="image:=/camera/depth/image_raw"/>-->
    <!--    <node name="laser_frame" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 kinect_link camera_depth_frame"/>-->
<!--    <include file="$(find project_simulation)/launch/include/mb_mapping.launch"/>-->
<!--    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find project_simulation)/rviz/config.rviz" />-->
</launch>
